extends layout

block scripts
  script(type="text/javascript", src="/javascripts/highfiver/highfiver.leaderboard.js")
  script(type="text/javascript", src="/socket.io/socket.io.js")

block content
  section(id="leaderboard")
    header
      h1 Press the Button, Get a High Five!
      p Adam, Sam and Xuedi will race each other here to deliver it. 

    div(id="scores")
      h2 Current Scores:
      ul
        each player in players
          li(class="#{player.id}")
            p(class="name")= player.name
            p(class="score")= player.score


  section(id="highfive_overlay")
    h1 High Five in Progress!
    ul
      each player in players
        li(class="#{player.id}")
          p(class="name")= player.name
          p(class="message")